node_modules

# Node.js dependencies
node_modules/

# Environment variables
.env
.env.local
.env.development
.env.production

# Build & output folders
dist/
build/
.cache/

# Next.js (if used)
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*

# OS metadata
.DS_Store
Thumbs.db

# IDE / editor folders
.vscode/
.idea/

# ImageKit uploads (if local)
uploads/

howrun

